<title>@AppState["projectName"] - @Page.Title</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="@Href("~/Stylesheets/main.css")" />
<link rel="stylesheet" href="@Href("~/Stylesheets/common.css")" />

@{
    //Include any stylesheets that are specific to that page.
    //Page title serves are identifier.
    string name = Page.Title;
    string name2 = name.Replace(" ", "");
    string stylesheetName = name2.ToLower() + ".css";

    string stylesheetDirectory = "~/Stylesheets";

    string serverPath = Server.MapPath(stylesheetDirectory);
    string localPath = Path.Combine(stylesheetDirectory, stylesheetName);
    string path = Path.Combine(serverPath, stylesheetName);

    if (File.Exists(path))
    {
		<link rel="stylesheet" href="@Href(localPath)"/>
	}
}
