@using System.Globalization;
@{
    Page.Title = "Portal";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

    // Fetch user data.
    User user = UserController.GetUserById(AuthController.LoginId);

    //Check if the user has a house.
    if (user.House <= 0)
    {
        Response.Redirect("~/Hatclick.cshtml");
    }
    
    //Fetch house data.
    House house = HouseController.GetHouseById(user.House);

    PortalController controller = new PortalController();

    //Determine what image the house should have.
    IDictionary<int, string> houseImages = new Dictionary<int, string>
    {
        { -1, "nope.png"},
        { 0, "gryffindor.png" },
        { 1, "hufflepuff.png" },
        { 2, "ravenclaw.png"},
        { 3, "slytherin.png"}
    };

    //Get the paths.
    houseImages.TryGetValue(user.House, out string image);
    string houseImagePath = ImageHelper.PathToImageInContent(image);
    string avatarImagePath = ImageHelper.PathToImageInContent("avatar.png");

    //Setup the time table variables.
    DateTime startTime = DateTime.ParseExact("08:00", "HH:mm", CultureInfo.InvariantCulture);
    DateTime endTime = DateTime.ParseExact("17:00", "HH:mm", CultureInfo.InvariantCulture);
    TimeSpan increments = new TimeSpan(1, 0, 0);

}

<div class="col-md-12">
    <div class="row col-md-offset-1">
        <div class="col-md-2">

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> House information </h4>
                    <img src=@houseImagePath style="width:200px;">
                </div>

                <ul class="stats-list" align="left">
                    <li>Total members: @house.MembersCount members</li>
                    <li>Total points: @house.Points points</li>
                    <li>House rank: #@controller.GetHouseRank(house.Id)</li>
                </ul>
            </div>

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> Wizard information </h4>
                    <img src=@avatarImagePath style="width:200px;">
                </div>

                <ul class="stats-list" align="left">
                    <li>Wizard name: @user.Username</li>
                    <li>Total points: @user.Points points</li>
                    <li>Wizard rank: #@controller.GetUserRank(user.Username)</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 info-panel vm-1 hm-1">
            @* Lesson week is hardcoded for now. *@
            @TimeTableHelper.GenerateTimeTable(startTime, endTime, increments, controller.GetTimeTableData(1));
        </div>
    </div>
</div>
